.flyout-menu {
  display: flex;
  gap: 32px;
  padding: 32px 0;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 900px;
  max-height: 350px;
  height: 100%;
  z-index: 99;
}

.flyout-columns {
  display: flex;
  gap: 32px;
  flex: 2;
  justify-content: space-around;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.flyout-column {
  display: flex;
  flex-direction: column;
}

.flyout-heading {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.flyout-link {
  text-decoration: none;
  color: #333;
  margin: 4px 0;
  padding: 8px 0;
}

@media (max-width: 768px) {
  .flyout-columns {
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
  }

  .flyout-menu {
    min-width: 100%;
    border: none;
    box-shadow: none;
    padding: 10px 0 0 10px;
    max-height: 100%;
  }

  .flyout-menu .links-container {
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .flyout-heading {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-bottom: 15px;
  }
}
